@tailwind base;

@tailwind components;

@tailwind utilities;

article p > code.language-text {
  color: #b95c1f;
  font-weight: 300;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  padding: 0.1rem 0.375rem;
  margin: 0 0.25rem;
  background: none;
  font-size: 0.8rem;
}

article p > code.language-text::selection {
  background: #accef7;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #2b2b2b;
  overflow-x: scroll;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #bdbdbd;
}

.gatsby-highlight {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.gatsby-highlight pre[class*='language-'] {
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.gatsby-highlight code {
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

@media (max-width: 640px) {
  .gatsby-highlight {
    margin: 1rem -1rem;
  }

  .gatsby-highlight pre[class*='language-'] {
    border-radius: 0;
  }
}
